.header {
    display: flex;
    justify-content: space-between;
}

.img--edge {
    max-width: 150px;
}

.middle img{
    max-width: 600px;
    margin: 90px;
}

.img--edge-s {
    max-width: 174px;
}

.img--center {
    max-width: 220px;
}