.header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    background-color: #0000005e;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    &_menu {
        color: #FFF;
        display: flex;
        align-items: center;
        font-size: 1.3em;;

        &_link {
            margin-right: 30px;
        }
    }

    & img {
        width: 500px;
    }
}
